body {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 24px;
  
}




/*for the list of personal links */

ul#personal_info li{
  display:inline;
  /*margin-right: 10px;*/
}

.tab {
  display: inline-block;
  margin-left: 40px;
}

/* user interaction with lists above */
a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  
}

.personal-header-avatar{
  width: 300px;
  height: 300px;
  -webkit-border-radius: 300px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 300px;
  -moz-background-clip: padding;
  border-radius: 300px;
  background-clip: padding-box;
  margin: 7px 0 0 5px;
  float: left;
  background-size: cover;
  background-position: center center;
  

}


header {
  text-align: center;
  
  
  height:auto;
  
  margin-left: auto;
  margin-right: auto;
  background-color:#eee;
}

h1{
  font-size: 68px;
}

.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  
  
 
}

.recent-projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  background-color:#eee;
}



